:root {
  --text-size: 16px;
  
}

.App {
  background: rgb(227, 247, 249);
  font-size: var(--text-size);
  text-align: center;
}

.Counters {
  display: inline-block;
  margin: 0 1rem 2rem;
  min-width: 300px;
}


.PlaylistsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding: 2rem;
  width: 66%;
}

.playlist {
  align-items: center;
  background-color: rgba(193, 29, 29, 0.2);
  border: 1px dashed black;
  border-radius: .5rem;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  /* padding: 2rem; */
  width: 80%;
}

li {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 2rem;
  padding-left: 0.5rem;
  text-align: left;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
